/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("img/Eder-Equipotel 3.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver mais de 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 700px) {
  body {
    font-size: 18px;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color, 1s;
} 

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  list-style: none;
}
  
a {
  color: teal;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 2s animatitulo forwards;
}

@keyframes animatitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title,
.site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family: 'Black Ops One', cursive;
}

.site-subtitle {
  font-family: 'Righteous', cursive;
  font-style: italic;
  line-height: 1.8em;
}

section {
  background-color: whitesmoke;
  background-size: 100%;
}

.sobre,
.portfolio {
  margin-bottom: 1.2em;
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Righteous', cursive;
  padding: 0px 0px 20px 0px;
}

.sobre .avatar img {
  float: left;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  margin-right: 2em;
  margin-bottom: 2em;
}

.sobre p {
  color: black;
  text-align: justify;
  margin-bottom: 1.4em
}

.portfolio .grid {
  display: grid;
  gap: 10px;
}

.portfolio figure {
  text-align: center;
}

@media (min-width: 590px) {
  .portfolio .grid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 900px) {
  .portfolio .grid {
    grid-template-columns: 33% 33% 33%;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

@media (min-width: 1150px) {
  .portfolio .grid {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.img-portfolio {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 0px;
  transition: transform 0.5s;
}

/*.img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
}*/

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.flip-card {
  perspective: 500px;
  height: 160px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-frente, .card-verso {
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
}

.card-verso {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 100%;
  transform: rotateY(180deg);
}

.contato {
  margin-bottom: 1.2em;
  padding: 2em;
  min-height: 30vh;
}

.contato a {
  color: black;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 5px 5px 10px gray;
}

.contato .icons {
  text-align: center;
}
